html {
    font-size: 18px;
}
@media (min-width: 1200px) and (max-width: 1919px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 991px) {
    html {
        font-size: 12px;
    }
    .el-col {
        padding-left: unset !important;
        padding-right: unset !important;
    }
}


.el-drawer {
    background-color: #f9f9f9;
}
.el-menu-item.is-active {
    background-color: #80c242;
}