body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  font-family: 'Noto Sans TC', 'PingFang HK', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif, 'Segoe UI', 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-weight: 300;
}

.el-menu-item.is-active {
  background-color: #6c0;
}

/**
 * Note: I have omitted any vendor-prefixes for clarity.
 * Adding them is left as an exercise for the reader.
 */

html,
body {
  scroll-padding-top: 65px; /* set to the height of your header */
}

.headroom {
  will-change: transform;
  transition: transform 200ms linear;
}
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(-100%);
}
